@import "/resources/scss/general/general.scss";



@media screen and (max-width: 840px) {
  .form-group {
    width: 90%;
  }
  #category {
    padding-right: 40%;
  }
}

@media screen and (max-width: 770px) {
  #input{
    padding-left: 100px;
  }
  #category {
    padding-right: 40%;
  }
  #name, #input_description, #input_place, #input_phone, #input_vat, #input_shipping, #input_opening, #input_closing, #day_off, #input_img{
    width: 430px;
  }
}

@media screen and (max-width: 680px) {
  #category {
    padding-right: 40%;
  }
  #name, #input_description, #input_place, #input_phone, #input_vat, #input_shipping, #input_opening, #input_closing, #day_off, #input_img,#vat_error{
    width: 400px;
  }
}

@media screen and (max-width: 570px) {
  #name, #input_description, #input_place, #input_phone, #input_vat, #input_shipping, #input_opening, #input_closing, #day_off, #input_img,#vat_error.visible{
    width: 350px;
  }
}

