@import "/resources/scss/general/general.scss";

.Logo_filter {
  filter: invert(60%) sepia(70%) saturate(1956%) hue-rotate(108deg) brightness(91%) contrast(95%);
  width: 60px;
  height: 60px;
  object-fit: contain;
  border-radius: 50%;
  padding: 2px;
  text-align: center;
}