@import "/resources/scss/general/general.scss";

.bg_cont {
    width: 200vw;
    object-fit: cover;
    background-repeat: no-repeat;
    background-color: #ffeccc;
}

.ms_cont {
    background-color: #ffeccc;
    margin: 0 auto;
}


.ms_btn {
    background-color: $main-color;

    &:hover {

        background-color: #07a156;
    }
}

.title_cont {
    max-width: 600px;
    margin: 0 auto;
    height: 100%;
    padding: 20px;
}

.welcome_cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    width: 100%;
}

@media screen and (max-width: 1700px) {

    .img {
        width: 90%;
    }
}

@media screen and (max-width: 992px) {

    .welcome_cont {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }

    .bg_cont {
        height: 500px;
    }
}